<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>set meetings</title>
  <script type='text/javascript' src='http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js'></script>
  <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/themes/smoothness/jquery-ui.css" />
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>

</head>
<body>
	<div id='welcome'>
		<h1>event title:<%=obj.name%> </h1>
		<h2><%=obj.dateTime%></h2>
<h2><%=obj.earliest%>, <%=obj.latest%></h2>
<h2><%=obj.dates%></h2>
		

</body>
</html>
