<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>set meetings</title>
  <script type='text/javascript' src='http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js'></script>
  <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/themes/smoothness/jquery-ui.css" />
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
<script src="/call.js"></script>
<script src="/jquery-ui.multidatespicker.js"></script>
  <script src="/click.js"></script>
  <link rel="stylesheet" href="/css/style.css">


<style>
	table{
		border-collapse: collapse;
		margin-left: 60px;
		margin-bottom: 30px;
	}

	td {
	    border: 1px solid black;
	    width: 100px;
	    height: 50px;
	    border-collapse: collapse;
	}

	#welcome{
		padding-bottom: 40px;
	}

	table td.highlighted {
	  background-color:#999;
	}

  </style>
</head>
<body>

<div class="container">
	<div id='welcome' class="container">
		<h1 id="eventN"><%=obj.name%></h1> <h3 id="eId"><%=obj.id%></h3>
		Dates Available:<p id='colNum'><%=obj.dates%></p>
		Earliest:<p id='timeFirstt'><%=obj.earliest%></p>
		Latest:<p id='timeLastt'> <%=obj.latest%></p>
		Dates Available:<p id='colNum'><%=obj.dates%></p>
		Free Times:<p id="colNames"><%=obj.dateTime%></p>
		</div>

	<div id="timetable2">
	</div>

	<input type='button' value="update meeting" id="savetable2">
</div>
</body>
</html>
